/* parte del modal */
.modal{
    position: fixed;
    background: rgba(231, 231, 231, 0.8);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.modal .imagen{
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 30px;
    margin-left: 25%;
}
.modal .imagen img{
    border-radius: 20px;
    height: 2000px;
    width: 250px;
    margin-top: -10px;
    margin-left: 30%;
}
.modal .imagen i{
    color: rgb(231, 231, 231);
    font-size: 20px;
    display: inline-block;
    margin-right: 20px;
    cursor:pointer;
}
.modal .imagen .icon-download{
    margin-left: 50px;
    margin-top: 20px;
}
.modal .imagen .pin{
    background-color: rgb(189,8,28);
    width:60px;
    height: 40px;
    border-radius: 20px;
}